* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f9fc;
    padding: 40px;
}

.box {
    position: relative;
    width: 100%;
    padding-top: 80px;
}

.line {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #00c6ff, #00b899);
    border-radius: 10px;
}

.inner-box {
    display: flex;
    justify-content: space-between;
}

.box-item {
    text-align: center;
    position: relative;
    width: 22%;
}
.dot-green{
    background: green;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.dot {
    width: 22px;
    height: 22px;
    background: #0099ff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 120px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.card h3 {
    color: #0080ff;
    margin-bottom: 8px;
}

.card p {
    color: #444;
    font-size: 14px;
}
